<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of vets</title>
</head>
<body>
<h2 th:text="'List of vets'">List of vets ...</h2>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Fist Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">1</td>
        <td th:text="${vet.firstName}">First Name</td>
        <td th:text="${vet.lastName}">Last Name</td>
    </tr>
</table>

</body>
</html>